$image-absolute : absolute;
$image-bottom: 100px;
$image-middle-bottom: 300px;
$image-middle-top: 700px;
$image-top: 900px;

$image-right: 100px;
$image-middle-right: 300px;

$image-middle: 500px;

$image-middle-left: 700px;
$image-left: 900px;

img[src*="Images/Layer_1.jpg"] {
	position: $image-absolute;
	bottom: $image-bottom;
	right: $image-right;
}

img[src*="Images/Layer_2.jpg"] {
	position: $image-absolute;
	bottom: $image-bottom;
	right: $image-middle-right;
}

img[src*="Images/Layer_11.jpg"] {
	position: $image-absolute;
	bottom: $image-bottom;
	right: $image-middle;
}

img[src*="Images/Layer_13.jpg"] {
	position: $image-absolute;
	bottom: $image-bottom;
	right: $image-middle-left;
}

img[src*="Images/Layer_24.jpg"] {
	position: $image-absolute;
	bottom: $image-bottom;
	right: $image-left;
}

img[src*="Images/Layer_4.jpg"] {
	position: $image-absolute;
	bottom: $image-middle-bottom;
	right: $image-right;
}

img[src*="Images/Layer_22.jpg"] {
	position: $image-absolute;
	bottom: $image-middle-bottom;
	right: $image-middle-right;
}

img[src*="Images/Layer_6.jpg"] {
	position: $image-absolute;
	bottom: $image-middle-bottom;
	right: $image-middle;
}

img[src*="Images/Layer_23.jpg"] {
	position: $image-absolute;
	bottom: $image-middle-bottom;
	right: $image-middle-left;
}

img[src*="Images/Layer_18.jpg"] {
	position: $image-absolute;
	bottom: $image-middle-bottom;
	right: $image-left;
}

img[src*="Images/Layer_14.jpg"] {
	position: $image-absolute;
	bottom: $image-middle;
	right: $image-right;
}

img[src*="Images/Layer_7.jpg"] {
	position: $image-absolute;
	bottom: $image-middle;
	right: $image-middle-right;
}

img[src*="Images/Layer_17.jpg"] {
	position: $image-absolute;
	bottom: $image-middle;
	right: $image-middle;
}

img[src*="Images/Layer_19.jpg"] {
	position: $image-absolute;
	bottom: $image-middle;
	right: $image-middle-left;
}

img[src*="Images/Layer_15.jpg"] {
	position: $image-absolute;
	bottom: $image-middle;
	right: $image-left;
}

img[src*="Images/Layer_12.jpg"] {
	position: $image-absolute;
	bottom: $image-middle-top;
	right: $image-right;
}

img[src*="Images/Layer_16.jpg"] {
	position: $image-absolute;
	bottom: $image-middle-top;
	right: $image-middle-right;
}

img[src*="Images/Layer_5.jpg"] {
	position: $image-absolute;
	bottom: $image-middle-top;
	right: $image-middle;
}

img[src*="Images/Layer_10.jpg"] {
	position: $image-absolute;
	bottom: $image-middle-top;
	right: $image-middle-left;
}

img[src*="Images/Layer_21.jpg"] {
	position: $image-absolute;
	bottom: $image-middle-top;
	right: $image-left;
}

img[src*="Images/Layer_20.jpg"] {
	position: $image-absolute;
	bottom: $image-top;
	right: $image-right;
}

img[src*="Images/Layer_8.jpg"] {
	position: $image-absolute;
	bottom: $image-top;
	right: $image-middle-right;
}

img[src*="Images/Layer_9.jpg"] {
	position: $image-absolute;
	bottom: $image-top;
	right: $image-middle;
}

img[src*="Images/Layer_3.jpg"] {
	position: $image-absolute;
	bottom: $image-top;
	right: $image-middle-left;
}

img[src*="Images/Layer_25.jpg"] {
	position: $image-absolute;
	bottom: $image-top;
	right: $image-left;
}