/* line 15, ../sass/style.scss */
img[src*="Images/Layer_1.jpg"] {
  position: absolute;
  bottom: 100px;
  right: 100px;
}

/* line 21, ../sass/style.scss */
img[src*="Images/Layer_2.jpg"] {
  position: absolute;
  bottom: 100px;
  right: 300px;
}

/* line 27, ../sass/style.scss */
img[src*="Images/Layer_11.jpg"] {
  position: absolute;
  bottom: 100px;
  right: 500px;
}

/* line 33, ../sass/style.scss */
img[src*="Images/Layer_13.jpg"] {
  position: absolute;
  bottom: 100px;
  right: 700px;
}

/* line 39, ../sass/style.scss */
img[src*="Images/Layer_24.jpg"] {
  position: absolute;
  bottom: 100px;
  right: 900px;
}

/* line 45, ../sass/style.scss */
img[src*="Images/Layer_4.jpg"] {
  position: absolute;
  bottom: 300px;
  right: 100px;
}

/* line 51, ../sass/style.scss */
img[src*="Images/Layer_22.jpg"] {
  position: absolute;
  bottom: 300px;
  right: 300px;
}

/* line 57, ../sass/style.scss */
img[src*="Images/Layer_6.jpg"] {
  position: absolute;
  bottom: 300px;
  right: 500px;
}

/* line 63, ../sass/style.scss */
img[src*="Images/Layer_23.jpg"] {
  position: absolute;
  bottom: 300px;
  right: 700px;
}

/* line 69, ../sass/style.scss */
img[src*="Images/Layer_18.jpg"] {
  position: absolute;
  bottom: 300px;
  right: 900px;
}

/* line 75, ../sass/style.scss */
img[src*="Images/Layer_14.jpg"] {
  position: absolute;
  bottom: 500px;
  right: 100px;
}

/* line 81, ../sass/style.scss */
img[src*="Images/Layer_7.jpg"] {
  position: absolute;
  bottom: 500px;
  right: 300px;
}

/* line 87, ../sass/style.scss */
img[src*="Images/Layer_17.jpg"] {
  position: absolute;
  bottom: 500px;
  right: 500px;
}

/* line 93, ../sass/style.scss */
img[src*="Images/Layer_19.jpg"] {
  position: absolute;
  bottom: 500px;
  right: 700px;
}

/* line 99, ../sass/style.scss */
img[src*="Images/Layer_15.jpg"] {
  position: absolute;
  bottom: 500px;
  right: 900px;
}

/* line 105, ../sass/style.scss */
img[src*="Images/Layer_12.jpg"] {
  position: absolute;
  bottom: 700px;
  right: 100px;
}

/* line 111, ../sass/style.scss */
img[src*="Images/Layer_16.jpg"] {
  position: absolute;
  bottom: 700px;
  right: 300px;
}

/* line 117, ../sass/style.scss */
img[src*="Images/Layer_5.jpg"] {
  position: absolute;
  bottom: 700px;
  right: 500px;
}

/* line 123, ../sass/style.scss */
img[src*="Images/Layer_10.jpg"] {
  position: absolute;
  bottom: 700px;
  right: 700px;
}

/* line 129, ../sass/style.scss */
img[src*="Images/Layer_21.jpg"] {
  position: absolute;
  bottom: 700px;
  right: 900px;
}

/* line 135, ../sass/style.scss */
img[src*="Images/Layer_20.jpg"] {
  position: absolute;
  bottom: 900px;
  right: 100px;
}

/* line 141, ../sass/style.scss */
img[src*="Images/Layer_8.jpg"] {
  position: absolute;
  bottom: 900px;
  right: 300px;
}

/* line 147, ../sass/style.scss */
img[src*="Images/Layer_9.jpg"] {
  position: absolute;
  bottom: 900px;
  right: 500px;
}

/* line 153, ../sass/style.scss */
img[src*="Images/Layer_3.jpg"] {
  position: absolute;
  bottom: 900px;
  right: 700px;
}

/* line 159, ../sass/style.scss */
img[src*="Images/Layer_25.jpg"] {
  position: absolute;
  bottom: 900px;
  right: 900px;
}
